*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.78)),url(images/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.logo{
    color: #fff;
    font-size: 25px;
    letter-spacing: 3px;
}
nav ul {
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.2);
    padding: 10px 0px;
}
 nav ul li::after{
    content: '';
    width: 0;
    height: 5px;
    background: black;
    border-radius: 10px;
    display: block;
    margin: auto;
    position: absolute;
    bottom: -5px;
    transition: 0.5s;

 }
nav ul li:hover::after{
    width: 90%;
} */
.navbar img{
    width: 30%;
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(25%,-25%);
    
}
.text{

    width: 55%;
    /* height: 200px; */
    color: rgb(161, 167, 164);
    position: absolute;

    /* align-items: center;
    justify-content: center; */
    top: 50%;
    left: 39%;
    /* padding: 200px 0; */
    /* border: 1px solid red; */
    transform: translate(-50%,-50%);
}
.text h1{
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 3px;
    /* border: 1px solid red; */
}
/* .text p{
    padding: 40px 0;
    border: 1px solid red;
} */
.button a{
    text-decoration: none;
    color: #fff;
    /* background-color: blueviolet; */
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    background: transparent;
    border: 2px solid white;
    position: relative;
    cursor: pointer;

    /* display: inline-block; */
}
.button{
    padding: 30px 0px;
}
.button a:hover{
    
    background: green;
    border: 2px solid black;
    transition: 1s;

}
/*--------------------About Me ----------------- */


.about{
    width: 80%;
    /* height: 100vh; */
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.row{
    display: flex;
    /* align-items: left; */
    justify-content: space-between;
    padding-top: 50px;
}
 .col{
    /* width: 90%; */
    padding-top: 80px;
    /* border: 1px solid red; */
} 
.col p{
    color: #777;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 0;
    text-align: left;
    

}
.col h4{
    text-align: left;
    
}
.about h1{
    font-size: 30px;
   
    padding: 20px 0;
    text-decoration: underline;
}
.col2{
    /* width: 70%; */
    padding-left: 100px;

}
     /* flex-basis: 40%; */
    /* position: absolute;  */
   
    /* margin-bottom: 4%;
    padding: 40px ;
    width: 80%;
} */
.col2 img{
    padding-top: 20px;
    width: 80%;
    border-radius: 50%;
    padding-bottom: 50px;

    /* border: 2px solid red; */
}

/* ----------------3rd Portion-------------- */

.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color:#FFF3F4;
    padding-bottom: 50px;
    
}
.row2{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.skills h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 70px;
    /* border: 1px solid red; */
}
.qualification{
    /* flex-basis: 30%; */
    border-radius: 10px;
    /* border: 1px solid red; */
    width: 45%;
   
}
.qualification h2{
    text-align: left;
padding: 12px;    /* padding-bottom: 15px; */
}
.qualification p{
    color: #777;
    font-size:18px ;
    padding: 12px;
    text-align: left;
    /* border: 1px solid red; */
}
.skill{
    
    /* padding: 12px; */
    /* border: 1px solid red; */
    width: 45%;
    
}
.skill h2{
    padding: 12px;
}
.skill ul li{
    /* border: 1px solid red; */
    list-style: none;
    /* margin-top: 20px 0; */
}
.skill ul{
    /* border: 1px solid red; */
    text-align: left;
    /* padding: 12px; */
}
.skill .bar{
    display: block;
    height: 2px; 
     /* border: 1px solid rgba(0,0,0,0.3); */
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 10px #2c2d2e;
}
.skill .bar span{
    height: 23px;
    float: left;
    background: black;
}
.html{
    width: 90%;
    animation: html 2s;
}
.css{
    width: 56%;
    animation: css 2s;
    
}
.javascript{
    width: 68%;
    animation: javascript 2s;
}
.jquery{
    width: 85%;
    animation: jquery 2s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 56%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 68%;
    }
}
@keyframes jquery{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}